{% extends 'app/base.html' %} 
{% load static %} 
{% block title %}About{% endblock %} 
{% block content %}
<div class="container-fluid mt-4">
    <img src="{% static 'images/about.png' %}" alt="About" height="100%" width="100%">
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-4 mt-4">
            <img src="{% static 'images/a1.jpg' %}" alt="asd" width="490">
        </div>
        <div class="col-8">
            <div class="text text-center text-white mt-5" style="padding-top: 50px;">
                <h4>TALES OF BIRIYANI BAE</h4>Barkaas Arabic Restaurant brought Middle-Eastern cuisine into play; it has become the Pioneer of Arabic cuisines within the regions of Vijayawada. Consecutively, Barkaas has ventured its branches throughout Andhra
                Pradesh and also stepped towards the other metropolitan cities like Bangalore. It is named after the place located in Hyderabad where the people from Yemen- the State in Arab sovereigns are residing. The ambience here is comfortable and
                cosy with the handcrafted interior. Barkaas predominantly strives to provide an Exclusive Middle Eastern Ambience incorporated with tasty food. From its start in 2017, Barkaas, in a short time, held a special position in all classes of
                customers.
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-8 mt-4">
            <div class="text text-center text-white mt-5" style="padding-top: 50px;">
                <h4>TASTE OF BIRIYANI BAE</h4>Barkaas Arabic Restaurant brought Middle-Eastern cuisine into play; it has become the Pioneer of Arabic cuisines within the regions of Vijayawada. Consecutively, Barkaas has ventured its branches throughout Andhra
                Pradesh and also stepped towards the other metropolitan cities like Bangalore. It is named after the place located in Hyderabad where the people from Yemen- the State in Arab sovereigns are residing. The ambience here is comfortable and
                cosy with the handcrafted interior. Barkaas predominantly strives to provide an Exclusive Middle Eastern Ambience incorporated with tasty food. From its start in 2017, Barkaas, in a short time, held a special position in all classes of
                customers.
            </div>
        </div>
        <div class="col-4 mt-5">
            <img src="{% static 'images/a2.jpg' %}" alt="asd" width="490">
        </div>
    </div>
    <div class="row">
        <div class="col-4 mt-5">
            <img src="{% static 'images/a3.jpg' %}" alt="asd" width="490">
        </div>
        <div class="col-8">
            <div class="text text-center text-white mt-5" style="padding-top: 50px;">
                <h4>HOW IT ALL BEGAN !</h4>With many years of experience in Research and Development on the food Industry, Garisa Foods realized that people are looking for a change- opting for unknown cuisines and thematic restaurants in the regions of Andhra.
                When the founders are in search of new cuisine that is encouraged by the regional food enthusiasts, they found middle eastern cuisine more exciting. They came up with a new theme called "food that unites people" by adding mandi and exotic
                starters to their menu. Barkaas has evolved to cater to food in different varieties, where intensive market analysis has imparted in every aspect they hold. Barkaas also succeeded in blending middle eastern cuisine with regional preferences
                using skilled chefs, which had kick boosted the sales in their early stages. And the rest, you know !!
            </div>
        </div>
    </div>
    {% endblock %}